.card{
      border: 1px solid blue !important;
      position: relative;
      width: 100%;
}

.badge{
        position: absolute;
        right: 2%;
        top: 1%;
        font-size: 23px;
        
        
}

